<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/chartjs-plugin-annotation.min.js"></script>
<script src="/static/js/chart_history_config.js"></script>
<script src="/static/js/jquery.ui.datepicker-ru.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/static/js/chartjs-plugin-annotation.min.js"></script>




<div class="container-fluid" style="margin-top:80px">

<dev class="row">
	<dev class="col-xl-9 boxShadow">
		<canvas id="historyChart" height="800"></canvas>
	</dev>	

	<dev class = "col-xl-3 boxShadow">

		<dev class ="row p-3">
			<h3> Настройка диаграммы </h3>

			<form>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			    	<label for="datepicker">Дата</label>
			    	<input type="text" class="form-control" id="datepicker" placeholder="Дата">
			    </div>
			    <div class="form-group col-md-6">
			    	<label for="timepicker">Время</label>
			      	<input type="text" class="form-control"  id="timepicker" placeholder="Время">
			    </div>

			    <div class="form-group col-md-6">
					<label>Интервал</label>
					<select class="form-control">
					    <option>Час</option>
					    <option>День</option>
					    <option>Неделя</option>
					    <option>Месяц</option>
					</select> 
			  	</div>

			    <div class="form-group col-md-6">
					<label>Тип диаграммы</label>
					<select class="form-control">
					    <option>Линейный</option>
					    <option>Столбчатый</option>
					</select> 
			  	</div>

			  </div>
			   <button type="submit" class="btn btn-primary">Обновить</button>
			</form>
		</dev>

	<dev class = "row p-3">
		<h3>Быстрый просмотр</h3>
	</dev>

		<dev class = "row">
			<dev class = "col">
				<button type="button" id ="btn-hour" class="btn btn-primary">За час</button>
			</dev>

			<dev class = "col">
				<button type="button" id ="btn-day" class="btn btn-primary">За день</button>
			</dev>
			<dev class = "col">
				<button type="button" class="btn btn-primary">За неделю</button>
			</dev>
			<dev class = "col">
				<button type="button" class="btn btn-primary">За месяц</button>
			</dev>
					
		</dev>
	</dev>	
</dev>

<script>
   	var cfg = get_history_chart_config()
	var history_chart = new Chart(document.getElementById("historyChart"),cfg);
</script>

<script>

	function update_history_chart(data)
	{
		history_chart.data.labels = data['labels'];
		history_chart.data.datasets[0].data = data['ch1_avr']	
		history_chart.data.datasets[1].data = data['ch2_avr']
		history_chart.data.datasets[2].data = data['ch3_avr']


		history_chart.data.datasets[0].label = "Канал 1: "+data['NAME_CH1']
		history_chart.data.datasets[1].label = "Канал 2: "+data['NAME_CH2']
		history_chart.data.datasets[2].label = "Канал 3: "+data['NAME_CH3']

		history_chart.update();
	}

	function update_last_hour()
	{
		jQuery.ajax({
            url: "/api/lastdata1min/60/",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(resultData) {
				update_history_chart(resultData)

            },
            error : function(jqXHR, textStatus, errorThrown) {
            	alert( "Плохо" );
            },

            timeout: 120000,
        });		
	}
</script>

<script>
$(function() {
    $("#datepicker").datepicker($.datepicker.regional["ru"]),
    $("#date").datepicker("setDate",null);;
});

$('#timepicker').timepicker({
    timeFormat: 'h:mm p',
    interval: 60,
    minTime: '10',
    maxTime: '6:00pm',
    defaultTime: '11',
    startTime: '10:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true
});
</script>




<script>
	document.getElementById("btn-hour").onclick=update_last_hour
</script>
