<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/chartjs-plugin-annotation.min.js"></script>
<script src="/static/js/chart_history_config.js"></script>
<script src="/static/js/jquery.ui.datepicker-ru.js"></script>
<link rel="stylesheet" href="/static/css/jquery.timepicker.min.css">
<script src="/static/js/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/moment.js"></script>
<link rel="stylesheet" href="/static/css/datapicer.css">
<link rel="stylesheet" href="/static/css/preloader.css">

<div id="p_prldr"><div class="contpre"><span class="svg_anm"></span><br>Подождите<br><small>загрузка данных</small></div></div>

<div class="container-fluid">

<dev class="row">
	<dev class="col-xl-9 boxShadow">
		<canvas id="historyChart" height="800"></canvas>
	</dev>	



	<dev class = "col-xl-3 boxShadow">

		<dev class ="row p-3">
			<h3> Настройка диаграммы </h3>

			  <div class="form-row">
			    <div class="form-group col-md-6">
			    	<label for="datepicker">Дата</label>
			    	<input type="text" class="form-control" id="datepicker" placeholder="Дата">
			    </div>
			    <div class="form-group col-md-6">
			    	<label for="timepicker">Время</label>
			      	<input type="text" class="form-control"  id="timepicker" placeholder="Время">
			    </div>

			    <div class="form-group col-md-6">
					<label>Интервал</label>
					<select id="t-interval" class="form-control">
					    <option>Час</option>
					    <option>День</option>
					</select> 
			  	</div>

			  </div>
			   <button type="button"  id ="btn-update-now" class="btn btn-primary">Обновить</button>
		</dev>

	<dev class = "row p-3">
		<h3>Быстрый просмотр</h3>
	</dev>

		<dev class = "row">
			<dev class = "col">
				<button type="button" id ="btn-hour" class="btn btn-primary">За час</button>
			</dev>

			<dev class = "col">
				<button type="button" id ="btn-day" class="btn btn-primary">За день</button>
			</dev>

					
		</dev>
	</dev>	
</dev>

<script>
   	var cfg = get_history_chart_config()
	var history_chart = new Chart(document.getElementById("historyChart"),cfg);
</script>

<script>

	function update_history_chart(data)
	{
		history_chart.data.labels = data['labels'];
		history_chart.data.datasets[0].data = data['ch1_avr']	
		history_chart.data.datasets[1].data = data['ch2_avr']
		history_chart.data.datasets[2].data = data['ch3_avr']

		history_chart.data.datasets[3].data = data['ch1_max']	
		history_chart.data.datasets[4].data = data['ch2_max']
		history_chart.data.datasets[5].data = data['ch3_max']

		history_chart.data.datasets[0].label = "1: "+data['NAME_CH1']
		history_chart.data.datasets[1].label = "2: "+data['NAME_CH2']
		history_chart.data.datasets[2].label = "3: "+data['NAME_CH3']

		history_chart.data.datasets[3].label = "1: "+data['NAME_CH1']
		history_chart.data.datasets[4].label = "2: "+data['NAME_CH2']
		history_chart.data.datasets[5].label = "3: "+data['NAME_CH3']

		history_chart.options.annotation.annotations[0]['value'] = data['MAX_CURR_CH1']
		history_chart.options.annotation.annotations[1]['value'] = data['MAX_CURR_CH2']
		history_chart.options.annotation.annotations[2]['value'] = data['MAX_CURR_CH3']

		history_chart.update();
		history_chart.resetZoom()
	}

	function update_last_hour()
	{
		show_loader()
		jQuery.ajax({
            url: "/api/lastdata1min/60/",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(resultData) {
				update_history_chart(resultData)
				hide_loader()
            },
            timeout: 120000,
        });		
	}

	function update_last_day()
	{
		show_loader()
		jQuery.ajax({
            url: "/api/lastdata_view_1day/",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(resultData) {
				update_history_chart(resultData)
				hide_loader()
            },

            timeout: 120000,
        });		
	}

</script>

<script>
$(function() {
    $("#datepicker").datepicker($.datepicker.regional["ru"]),
    $("#datepicker").datepicker("setDate",new Date());
    $("#datepicker").datepicker('update');
});

var def_time  = new Date()
def_time.setMinutes(0);
def_time.setSeconds(0);
$('#timepicker').timepicker({
    timeFormat: 'HH:mm',
    interval: 60,
    minTime: '0:00',
    maxTime: '23:00',
    defaultTime: def_time,
    dynamic: false,
    dropdown: true,
    scrollbar: true,
    use24hours: true
});

</script>


<script>

function show_loader()
{
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeIn('fast');
    $preloader.fadeIn('fast');	
}

function hide_loader()
{
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut('fast');
    $preloader.fadeOut('fast');	
}


function update_from_time_hour(t_date)
{
	show_loader()
	jQuery.ajax({
    	url: "/api/aver1minfrom/60/"+t_date,
        type: "GET",

        contentType: 'application/json; charset=utf-8',
        success: function(resultData) {
			update_history_chart(resultData)
			hide_loader()
        },
        timeout: 120000,
    });		
}

function update_from_time_day(t_date)
{
	show_loader()
	jQuery.ajax({
    	url: "/api/aver1dayfrom/"+t_date,
        type: "GET",

        contentType: 'application/json; charset=utf-8',
        success: function(resultData) {
			update_history_chart(resultData)
			hide_loader()
        },
        timeout: 120000,
    });		
}

function update_from_form()
	{
		var form_data = $("#datepicker").val()
		var form_time = $("#timepicker").val()
		var form_inter = $("#t-interval").val()
		

		data_valid = moment(form_data, "D.M.YYYY", true).isValid(); // true
		time_valid = moment(form_time, "H:m", true).isValid(); // true

		user_time = form_data + " " + form_time
		console.log(user_time)
		if (!data_valid)
			alert("Введите корректную дату")
		if (!time_valid)
			alert("Введите корректное время")

		if (form_inter == 'Час')
			update_from_time_hour(user_time)
		if (form_inter == 'День')
			update_from_time_day(user_time)
		

	}
</script>


<script>
	document.getElementById("btn-hour").onclick=update_last_hour
	document.getElementById("btn-day").onclick=update_last_day
	document.getElementById("btn-update-now").onclick=update_from_form
</script>

<script>
	window.onload = update_last_hour()
</script>


<script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut();
    $preloader.delay(500).fadeOut('slow');
});</script>

<script>
	document.getElementById("nav_history").classList.add("active")
</script>