
<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/datetable.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>

<style>
table.dataTable tbody tr {
  background-color: gray;
}

.green-row {
  background-color: green !important;
}

.red-row {
  background-color: red !important;
}

</style>

<div class="container-fluid">

<dev class="row">
<!-- Навигационное меню -->
    <dev class="col-xl-2">
        <ul class="nav flex-column nav-pills" id="left-nav-panel" role="tablist" aria-orientation="vertical">

            <li class="nav-item">
                <a class="nav-link active"  data-toggle="pill" href="#tabPanel-journal" role="tab" aria-selected="true">Журнал</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tabPanel-journal-history" role="tab" aria-selected="false">История журнала</a>
            </li>
        </ul>
    </dev>


<dev class="col-xl-10">
        <div class="tab-content" id="left-nav-panel-tabContent">
<div class="tab-pane fade show active" id="tabPanel-journal" role="tabpanel"> 
    <table id="JTable" class="table compact table-dark">
        <thead>
            <tr >
                <th>№</th>
                <th>Уровень</th>
                <th>Время</th>
                <th>Источник</th>
                <th style="width: 50%">Событие</th>
            </tr>
        </thead>
    </table>
</div>

<div class="tab-pane fade  active" id="tabPanel-journal-history" role="tabpanel"> 
    <table id="JTable-history" class="table compact table-dark">
        <thead>
            <tr >
                <th>№</th>
                <th>Уровень</th>
                <th>Время</th>
                <th>Источник</th>
                <th style="width: 50%">Событие</th>
            </tr>
        </thead>
    </table>
     <button type="button" id ="btn-update" class="btn btn-primary mb-2">Обновить</button>
</div>

</div>
</dev>
</dev>

<script>

var journal_data = {"data":[]}
journal_data = [["","", "", "" ,""]]

table_config = {
"oLanguage": {
            "sLengthMenu": "Показать _MENU_ записей на странице",
            "sZeroRecords": "Извините - ничего не найдено",
            "sInfo": "Показано _START_ до _END_ из _TOTAL_ записей",
            "sInfoEmpty": "Нет записей",
            "sInfoFiltered": "(из _MAX_ записей)",
            "sSearch": "Поиск:",
            "oPaginate": {
                "sNext": "След. стр.",
                "sPrevious": "Пред. стр."
            }
        },
      //  "paging":   false,
      //  "info" : false,
      //  "searching":false,
        "order": [[ 0, "desc" ]],
    data : journal_data,
        columnDefs: [
        { "width": "5%", "targets": [0] },
        { "width": "10%", "targets": [1,2] },
        { "width": "15%", "targets": [3] },

      ],
    "columns": [

            { title: "№" },
            { title: "Уровень" },
            { title: "Время" },
            { title: "Источник" },
            { title: "Событие", width: "50%" }
    ],

 "createdRow": function( row, data, dataIndex){
                if( data[1] ==  'Информация'){
                    $(row).addClass('green-row');
                }
                if( data[1] ==  'Тревога'){
                    $(row).addClass('red-row');
                }
            }
    }

table_now_config = {
        "paging":   false,
        "info" : false,
        "searching":false,
        "order": [[ 0, "desc" ]],
    data : journal_data,
        columnDefs: [
        { "width": "5%", "targets": [0] },
        { "width": "10%", "targets": [1,2] },
        { "width": "15%", "targets": [3] },

      ],
    "columns": [

            { title: "№" },
            { title: "Уровень" },
            { title: "Время" },
            { title: "Источник" },
            { title: "Событие", width: "50%" }
    ],

 "createdRow": function( row, data, dataIndex){
                if( data[1] ==  'Информация'){
                    $(row).addClass('green-row');
                }
                if( data[1] ==  'Тревога'){
                    $(row).addClass('red-row');
                }
            }
}

var t = $('#JTable-history').DataTable(table_config);
var t = $('#JTable').DataTable(table_now_config);

</script>


<script>
    function load_journal()
    {
        jQuery.ajax({
            url: "/api/get_journal/",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(resultData) {
                journal_data = resultData['data']
                if (Object.keys(journal_data).length != 0)
                {
                    $('#JTable-history').dataTable().fnClearTable();
                    $('#JTable-history').dataTable().fnAddData(journal_data);      
                }


            },
            timeout: 120000,
        });     
    }

    function load_now_journal()
    {
        jQuery.ajax({
            url: "/api/get_journal/25",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(resultData) {
                journal_data = resultData['data']
                if (Object.keys(journal_data).length != 0)
                {
                    $('#JTable').dataTable().fnClearTable();
                    $('#JTable').dataTable().fnAddData(journal_data);    
                }


            },
            timeout: 120000,
        });     
    }  
</script>

<script>
    document.getElementById("btn-update").onclick=load_journal
    window.onload = load_now_journal()
     window.onload = load_journal()
</script>


<script>
    // начать повторы с интервалом 2 сек
    var timerId = setInterval(function() {
    load_now_journal()
}, 2000);
</script>

<script>
    document.getElementById("nav_journal").classList.add("active")
</script>