<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/chartjs-plugin-annotation.min.js"></script>
<script src="/static/js/chart_measure_config.js"></script>

<style>
table.dataTable tbody tr {
  background-color: DarkCyan ;
}
</style>

<div class="container-fluid" style="margin-top:80px">

<dev class="row">

	<dev class="col-xl-9 shadow">
		<dev class="row extra-bottom-padding  p-3 boxShadow">
			<canvas id="phase1" height="220"></canvas>
		</dev>
		<dev class="row extra-bottom-padding  p-3 boxShadow">
			<canvas id="phase2" height="220"></canvas>
		</dev>
		<dev class="row extra-bottom-padding  p-3 boxShadow">
			<canvas id="phase3" height="220"></canvas>
		</dev>
	</dev>

	<dev class = "col-xl-3">
		<table id="myTable" class="table compact table-dark ">
    <thead>
        <tr >
            <th class="text-center" >Канал</th>
            <th class="text-center" >Ток</th>
            <th class="text-center" >Макс. ток</th>
            <th class="text-center" >Пик. ток</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-center" scope="row">1</th>
            <td class="text-center" id = "ch1_avr_now"></td>
            <td class="text-center" id = "ch1_max_val"></td>
            <td class="text-center" id = "ch1_pic_now"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">2</th>
            <td class="text-center" id = "ch2_avr_now"></td>
            <td class="text-center" id = "ch2_max_val"></td>
            <td class="text-center" id = "ch2_pic_now"></td>
        </tr>
        <tr>
            <th class="text-center" scope="row">3</th>
            <td class="text-center" id = "ch3_avr_now"></td>
            <td class="text-center" id = "ch3_max_val"></td>
            <td class="text-center" id = "ch3_pic_now"></td>
        </tr>
    </tbody>
</table>
	</dev>	

</dev>




<script>	
var fhase1_data_val=[];
var fhase2_data_val=[];
var fhase3_data_val=[];
var fhase1_data_pic=[]
var fhase2_data_pic=[]
var fhase3_data_pic=[]
var fhase1_label =[];


</script>


<script>
	var fhase1_label 
	var fhase1_data_val 
	var fhase1_data_pic 

	var chart_conf_1 =  get_measure_chart_config(
		fhase1_label,
		fhase1_data_val,
		fhase1_data_pic,
		"Фаза 1,А" 
		)
	var chart_conf_2 =  get_measure_chart_config(
		fhase1_label,
		fhase2_data_val,
		fhase2_data_pic,
		"Фаза 2,А" 
		)
	var chart_conf_3 =  get_measure_chart_config(
		fhase1_label,
		fhase3_data_val,
		fhase3_data_pic,
		"Фаза 3,А" 
		)

	var chart1 = new Chart(document.getElementById("phase1"), chart_conf_1);
	var chart2 = new Chart(document.getElementById("phase2"), chart_conf_2);
	var chart3 = new Chart(document.getElementById("phase3"), chart_conf_3);
</script>

<script>


function update_charts(data){

	chart1.data.labels = data['labels'];
	chart2.data.labels = data['labels'];
	chart3.data.labels = data['labels'];

	chart1.data.datasets[0].data = data['ch1_avr']	
	chart1.data.datasets[1].data = data['ch1_max']

	chart2.data.datasets[0].data = data['ch2_avr']	
	chart2.data.datasets[1].data = data['ch2_max']	

	chart3.data.datasets[0].data = data['ch3_avr']	
	chart3.data.datasets[1].data = data['ch3_max']	
	
	chart1.options.title['text'] = "Канал 1: "+data['NAME_CH1']
	chart2.options.title['text'] = "Канал 2: "+data['NAME_CH2']
	chart3.options.title['text'] = "Канал 3: "+data['NAME_CH3']


	chart1.options.annotation.annotations[0]['value'] = data['MAX_CURR_CH1']
	chart2.options.annotation.annotations[0]['value'] = data['MAX_CURR_CH2']
	chart3.options.annotation.annotations[0]['value'] = data['MAX_CURR_CH3']

	chart1.update();
	chart2.update();
	chart3.update();
}

function update_table(data){
	var val = document.getElementById("ch1_avr_now");
	val.innerHTML = data['ch1_avr_now'].toFixed(1) + " A"
	var val = document.getElementById("ch2_avr_now");
	val.innerHTML = data['ch2_avr_now'].toFixed(1) + " A"
	var val = document.getElementById("ch3_avr_now");
	val.innerHTML = data['ch3_avr_now'].toFixed(1) + " A"

	var val = document.getElementById("ch1_max_val");
	val.innerHTML = data['ch1_max_val']['value'].toFixed(1) + " A"
	var val = document.getElementById("ch2_max_val");
	val.innerHTML = data['ch2_max_val']['value'].toFixed(1) + " A"
	var val = document.getElementById("ch3_max_val");
	val.innerHTML = data['ch3_max_val']['value'].toFixed(1) + " A"

	var val = document.getElementById("ch1_pic_now");
	val.innerHTML = data['ch1_pic_now'].toFixed(1) + " A"
	var val = document.getElementById("ch2_pic_now");
	val.innerHTML = data['ch2_pic_now'].toFixed(1) + " A"
	var val = document.getElementById("ch3_pic_now");
	val.innerHTML = data['ch3_pic_now'].toFixed(1) + " A"
}

function updata_lastvalue(channel, sec)
{
jQuery.ajax({
            url: "/api/lastdata/1800/",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(resultData) {
				update_charts(resultData)
				update_table(resultData)
            },
            error : function(jqXHR, textStatus, errorThrown) {
            	alert( "Плохо" );
            },

            timeout: 120000,
        });	
}
</script>

<script>
	// начать повторы с интервалом 2 сек
	var timerId = setInterval(function() {
  	updata_lastvalue(1,1)
}, 2000);
</script>


<script>
	$(document).ready( function () {
    $('#myTable').DataTable({
    	"paging":   false,
    	"info" : false,
    	"searching":false
    });
} );
</script>

<script>
	window.onload = updata_lastvalue()
</script>
