

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="/static/js/chartjs-plugin-annotation.min.js"></script>
<script src="/static/js/chart_measure_config.js"></script>
<script src="/static/js/chart_stat_bars_config.js"></script>
<script src="/static/js/test_func.js"></script>

<style>
table.dataTable tbody tr {
  background-color: olive;
}
</style>

<div class="container-fluid" style="margin-top:100px">

<dev class="row">

	<dev class="col-sm-9 shadow">
		<dev class="row">
			<canvas id="phase1" width="300" height="50"></canvas>
		</dev>
		<dev class="row">
			<canvas id="phase2" width="300" height="50"></canvas>
		</dev>
		<dev class="row">
			<canvas id="phase3" width="300" height="50"></canvas>
		</dev>
	</dev>

	<dev class = "col-sm-3">
		<table id="myTable" class="table compact table-dark">
    <thead>
        <tr >
            <th>Канал</th>
            <th>Ток</th>
            <th>Макс. ток</th>
            <th>Пик. ток</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Фаза 1</th>
            <td>12.56 А</td>
            <td>14.3 А</td>
            <td>45.7 А</td>
        </tr>
        <tr>
            <th scope="row">Фаза 2</th>
            <td>12.56 А</td>
            <td>14.3 А</td>
            <td>45.7 А</td>
        </tr>
        <tr>
            <th scope="row">Фаза 3</th>
            <td>12.56 А</td>
            <td>14.3 А</td>
            <td>45.7 А</td>
        </tr>
    </tbody>
</table>
	</dev>	

</dev>


<script>
var result1=document.getElementById("text_phase1")
var result2=document.getElementById("text_phase2")
var result3=document.getElementById("text_phase3")
result1.innerHTML="125.1А"
result2.innerHTML="1.1А"
result3.innerHTML="45.1А"
</script>


<script>

var bar_chart_conf = get_stat_bars_config(
	["Фаза 1", "Фаза 2", "Фаза 3"], 
	[63,55,78], [56,20,10], 
	[70,70,70])

new Chart(document.getElementById("statistic"),bar_chart_conf);

</script>

<script>	
var fhase1_data_val=[];
var fhase2_data_val=[];
var fhase3_data_val=[];
var fhase1_data_pic=[]
var fhase2_data_pic=[]
var fhase3_data_pic=[]
var fhase1_label =[];
var val;
for (var i = 1; i <= 300; i++) {
	val = getSinus(i,10)
	fhase1_data_val.push(val)
	val = getSinus(i+100,5)
	fhase2_data_val.push(val)
	val = getSinus(i+200,12)
	fhase3_data_val.push(val)
	fhase1_label.push(i)

	val = getSinus_shift(i,10,4)
	fhase1_data_pic.push(val)

	val = getSinus_shift(i+100,5,1)
	fhase2_data_pic.push(val)

	val = getSinus_shift(i+200,12,7)
	fhase3_data_pic.push(val)
	
}


var chart_conf_1 =  get_measure_chart_config(
	fhase1_label,
	fhase1_data_val,
	fhase1_data_pic,
	"Фаза 1,А" 
	)
var chart_conf_2 =  get_measure_chart_config(
	fhase1_label,
	fhase2_data_val,
	fhase2_data_pic,
	"Фаза 2,А" 
	)
var chart_conf_3 =  get_measure_chart_config(
	fhase1_label,
	fhase3_data_val,
	fhase3_data_pic,
	"Фаза 3,А" 
	)



var mychart1 = new Chart(document.getElementById("phase1"), chart_conf_1);
var mychart2 = new Chart(document.getElementById("phase2"), chart_conf_2);
var mychart3 = new Chart(document.getElementById("phase3"), chart_conf_3);
</script>



<script>
	$(document).ready( function () {
    $('#myTable').DataTable({
    	"paging":   false,
    	"info" : false,
    	"searching":false
    });
} );
</script>
